/target

# Built version of front end deployment
crates/chat-app-server/app/

# Ignore folders with traces
traces/

# Ignore new snapshot files
*.snap.new

# For Shuttle
.shuttle*
Secrets*.toml

# Gets created in CI and causes the shuttle deploy to fail
trunk/ 

# We are using two separate folders for sqlx query files because we have 2 databases supported and files generated need to be moved to one of those
.sqlx/query*.json
